article {
	margin: 40px auto 120px;
	max-width: 800px;
	width: 90%;
	width: calc(100% - 30px);

	> {
		& * + * {
			margin-top: 16px;
		}

		& h2 + * {
			margin-top: 24px;
		}

		& img + *,
		& figure + * {
			margin-top: 32px;
		}

		& * + h2 {
			margin-top: 64px;
		}

		& * + h3 {
			margin-top: 48px;
		}

		& * + img {
			margin-top: 32px;
		}

		& * + h4 {
			margin-top: 48px;
		}

		& * + h5 {
			margin-top: 48px;
		}

		& * + h6 {
			margin-top: 48px;
		}

		& img + img,
		& figure + figure {
			margin-top: 32px;
		}

		& h2 + h3 {
			margin-top: 32px;
		}

		& h3 + h4 {
			margin-top: 32px;
		}

		& img,
		& picture {
			display: block;
			margin: 48px 0;

			> img {
				margin: 0;
			}
		}

		& img {
			height: auto !important;
			width: auto !important;
		}

		& ol,
		& ul {
			margin-top: 48px;
		}

		& li + li {
			margin-top: 8px;
		}

		& p {
			& + p {
				margin-top: 40px;
			}
		}

		& pre {
			margin: 32px auto;
		}

		& blockquote {
			margin: 48px 0;
		}
	}
}
